
.header {
    width: 100%;
    height: 150px;
    background-color:springgreen;
    display: flex;
    justify-content: center;    
}

.title {
    padding: 35px;
    font-family: monospace;
    font-size: 60px;
    color: darkorange;
}

.container {
    width: 100%;
    height: 1200px;
    background-color: white;
    margin-top: 50px;
    display: flex;
}

.outerShell {
    width: 50%;
    height: 50%;
    background-color: black;
    display: flex;
    margin-left: 25%;
    border-radius: 7px;
}

.innerShell {
    width: 100%;
    border-style: dotted;
    /* border-color: white; */
    /* margin: 25px; */
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}
.column {
    flex: 1;
    background-color:slategrey;
    /* margin: 2px; */
    display: flex;
    /* padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px; */
}
.buttonRow {
    width: 95%;
    height: 95%;
    background-color: black;
    margin: 2px;
    color: white;
    font-family: monospace;
    font-size: 30px
}

.screenShell {
    width: 88%;
    height: 75%;
    flex: 1;
    border-style: solid;
    border-color: white;
    background-color:slategrey;
    /* margin: 2px;  */
    /* display: flex; */
    margin: 25px;
}
.screen {
    color: black;
    /* text-align: right; */
    text-align: end;
    padding-top: 82px;
    padding-right: 5px;
}
