
.header {
    width: 100%;
    height: 150px;
    background-color:springgreen;
    display: flex;
    justify-content: center;
}

.title {
    padding: 35px;
    font-family: monospace;
    font-size: 60px;
    color: darkorange;
}

.outerContainer {
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: center;
    background-color:black;
    padding-top: 50px;
}

.container {
    width: 430px;
    height: 610px;
    background-color: silver;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    border-radius: 7px;
}

.outerShell {
    margin-top: 5px;
    max-height: 600px;
    max-width: 420px;
    width: 420px; 
    height: 600px;
    background-color: black;
    display: flex;
    justify-content: center;
    /* margin-left: 25%; */
    border-radius: 3px;
}

.innerShell {
    max-width: 420x;
    max-height: 600px;
    width: 100%;
    /* border-style: dotted; */
    /* border-color: white; */
    /* margin: 25px; */
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    border-radius: 7px;
}
.screenShell {
    width: 88%;
    height: 140px;
    border-style: solid;
    border-color: silver;
    background-color:steelblue;
    margin: 25px;
}
.screen {
    font-family: monospace;
    font-size: 25px;
    color:darkorange;
    /* text-align: right; */
    text-align: end;
    padding-top: 100px;
    padding-right: 5px;
}
.column {
    max-width: 420px;
    flex: 1;
    background-color:black;
    display: flex;
    /* background-color: white; */
    border-radius: 7px;
}
.buttonRow {
    flex: 1;
    max-width: 420px;
    width: fit-content;
    height: 100px;
    background-color: black;
    margin: 2px;
    color: white;
    font-family: monospace;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color:silver;
    width: 90px;
    height: 90px;
    font-family: monospace;
    font-size: 35px;
    margin: 5px;
}

.button:hover {
    background-color: steelblue;
    color: orange;
}
